* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 36px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.nav-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600; 
}

.nav-links a:hover {
  color: #007bff;
}

.login-btn {
  padding: 12px 26px;
  background-color: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;

}

.login-btn:hover {
  background-color: #187bcd;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px; 
    min-height: 90vh;
}
.hero-left{
    width: 50%;
    flex: 1;
}
.hero-left h1{
    font-size: 60px;
    line-height: 1.25;
    margin-bottom: 24px;
    font-weight: 700;
    color: #333;
}
.hero-left h1 span{
    color: #1e88e5;
    font-size: 64px;
    font-weight: 800;
}
.hero-left p{
    font-size: 21px;
    line-height: 1.8;
    margin-bottom:34px ;
    color: #555;
    max-width: 520px;
}
.hero-btn{
    padding:14px 34px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: #1e88e5;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.hero-btn:hover{
    background-color: #1565c0;
}
.hero-right{
    width: 45%;
}
.hero-right img{
    width: 90%;
}

